{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="mt-5 text-center">
        <img src="{% static 'core/images/cat-8553498_640.jpg' %}" alt="ProficPic" class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello</h1>
    <div casss="px-4" style="line-height:2rem;">
        <p style="text-indent:100px;"> I am <b class="text-warning" st-font>Rajeev Ashoka</b> having 3 years of full-stack web development experience for global businesses, I offer the technical expertise you are seeking for your web developer position.</p>
        <p>Since earning my bachelor’s degree in internet and web development from Aryabhatta Knowledge University, I have served as a web developer at <b class="text-warning">TCS</b>, one of biggest Indias's IT ferm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retail and financial services.</p>
        <p>I am excited to share that I am a skilled Django developer, dedicated to building robust and scalable web applications. With extensive experience in Django, I specialize in creating dynamic, high-performance websites and applications tailored to meet diverse client needs.</p>
    </div>
    </div>
    <div class="text-center">
        <a href="https://www.linkedin.com/in/rajeevashoka/"  target="_blank" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="https://www.linkedin.com/in/rajeevashoka/" target="_blank" class="btn btn-outline-info my-3">Contact</a>
    </div>
    </div>
{% endblock content %}