{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

<div class="row mb-5 text-white">
    <div class="col-sm-4 text-center mb-5 ">
        <i class="fa-brands fa-searchengin fa-2x mb3 i-color"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    <div class="col-sm-4 text-center mb-5">
        <i class="fa-brands fa-html5 fa-2x mb3 i-color"></i>
        <h3>WEB DEVELEOPMENT</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    <div class="col-sm-4 text-center mb-5">
        <i class="fa-brands fa-python fa-2x mb3 i-color"></i>
        <h3>PYTHON</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>
</div>

<div class="row mb-5 text-white">
    <div class="col-sm-4 text-center mb-5">
        <i class="fa-brands fa-bootstrap fa-2x mb3 i-color"></i>
        <h3>BOOTSTRAP</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    <div class="col-sm-4 text-center mb-5">
        <i class="fa-brands fa-wordpress fa-2x mb3 i-color"></i>
        <h3>WORDPRESS</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    <div class="col-sm-4 text-center mb-5">
        <i class="fa-solid fa-palette fa-2x mb3 i-color"></i>
        <h3>WEB DESIGN</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>
</div>

<div class="row mb-5 text-white">
    <div class="col-sm-4 text-center mb-5">
        <i class="fa-solid fa-chart-column fa-2x mb3 i-color"></i>
        <h3>ANALYTICS</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    
    <div class="col-sm-4 text-center mb-5">
        <i class="fa-solid fa-server fa-2x mb3 i-color"></i>
        <h3>HOSTING</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>

    <div class="col-sm-4 text-center mb-5">
        <i class="fa-brands fa-aws fa-2x mb3 i-color"></i>
        <h3>EC2-AWS</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, maiores.</p>
    </div>
</div>  
</div>

{% endblock content %}